---
import UserInfo from '../components/UserInfo'
import Layout from '../layouts/Layout.astro';

---
<Layout title="小易智能 (Smartie AI)">
  <main>
    <UserInfo  client:only={'solid-js'} /></UserInfo>
  </main>
</Layout>

<script>
</script>
<style>
</style>
