---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
import User from './User.astro'
---

<header>
  <div>
    <select class="gpt-select-model" id="gpt-select-model">
      <option value="35">ChatGPT 3.5</option>
      <option value="35-2">ChatGPT 3.5（备用）</option>
      <option value="40">ChatGPT 4.0</option>
    </select>
  </div>
  <div class="fb items-center relative">
    <Logo />
    <Themetoggle />
    <User />
  </div>
  <div class="fi mt-2">
    <span class="gpt-subtitle no-touch">小易智能</span>
    <p px-1 mt-2 text-s op-45 class="no-touch" id="modelType">based on ChatGPT 3.5</p>
  </div>
</header>
<script>
  const selectModel = document.getElementById('gpt-select-model') as HTMLSelectElement
  const modelType = document.getElementById('modelType') as HTMLElement
  const cacheModelValue = localStorage.getItem('gpt-model')
  if (cacheModelValue) {
    selectModel.value = cacheModelValue
    modelType.innerHTML = `based on ChatGPT${cacheModelValue}`
  }

  const handleToggleClick = (e) => {
    const type = e.target.value
    modelType.innerHTML = `based on ChatGPT${type}`
    localStorage.setItem('gpt-model', type)
  }
  selectModel.addEventListener('change', handleToggleClick)
  </script>
  