---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
import User from './User.astro'
---

<header>
  <div class="fb items-center relative">
    <Logo />
    <Themetoggle />
    <User />
  </div>
  <div class="fi mt-2">
    <span class="gpt-subtitle no-touch">小易智能</span>
    <p px-1 mt-2 text-s op-45 class="no-touch">based on gpt-3.5-turbo</p>
  </div>
</header>
