<div id="themeToggle" class="absolute top-3 right-15 h-10 rounded-md transition-colors no-touch">
  Hello,<a id="userNickName" href="/user" target="_blank" class="text-blue-500 no-touch"></a>&nbsp;<a href="/api/logout" class="text-blue-500 no-touch">Logout</a>
</div>
<script>
async function checkCurrentAuth() {
  // const password = localStorage.getItem('pass')
  const response = await fetch('/api/auth', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    },
  })
  const responseJson = await response.json()

  if (responseJson.code === 0 && responseJson.data) {
      document.getElementById('userNickName').innerHTML = responseJson.data.nickname
      //document.getElementById('mainBody').style.display = 'block'
  } else {
      window.location.href = '/login'
  }

  // if (responseJson.code !== 0)

  // window.location.href = '/login'
}
checkCurrentAuth()
</script>
