.gen-text-bar-ware {
    position: fixed;
    width: 180px;
    height: 80px;
    left: 50%;
    top: 100px;
    margin-left: -90px;
    padding: 12px;
    text-align: center;
    color: #ffffff;
    background-color: #059669e8;
    border-radius: 18px;
    font-size: 14px;
}
.gen-text-bar-list {
    display: flex;
    padding: 0px 20px;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
}

.gen-text-bar-list i {
    display: block;
    background-color: #ffffff;
    width: 3px;
}
.no-touch {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*如果是禁用长按选择文字功能，用css*/  
html, body, span, div, p {  
    -webkit-touch-callout: none;  
    -webkit-user-select: none;  
    -khtml-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;  
    user-select: none;  
    -moz-touch-callout: none;
    -ms-touch-callout: none;
} 